body{
    background-color:#1F142B;
    color: aliceblue;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

#container{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.rectangle{
    width: 1000px;
}

#home{
    width: 100px;
    height: 84px;
    background-color: #962521;
    float: left; 
    color: #CCEAE2;
    font-size: 20px;
}

#logo{
    background-color: #962521;   
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    height: 84px;
    width: 895px;
    font-size: 70px;
    margin-top: 5px;
    margin-left: 105px;
    margin-bottom: 5px;
    text-align: center;
}

h1{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 70px;
}

.square{

    width: 120px;
    height: 600px;
    background-color: #962521;
    float:left;
    text-align: center;
}

.tile1{
    margin: 10px;
    background-color: #369EAB;
    padding: 4px;
    width: 92px;
    height: 92px;
    font-size: 55px;
    color: #242624;
    line-height: 2%;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
}
.tile1:hover{
    background-color: #147CAA;
}

.tile2{
     margin: 10px;
    background-color: #369EAB;
    padding: 4px;
    width: 92px;
    height: 92px;
    font-size: 55px;
    color: #242624;
    line-height: 2%;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
}
.tile2:hover{
    background-color: #147CAA;
}

.tile3{
    margin: 10px;
    background-color: #369EAB;
    padding: 4px;
    width: 92px;
    height: 92px;
    font-size: 55px;
    color: #242624;
    line-height: 2%;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
}
.tile3:hover{
    background-color: #147CAA;
}

.tileMain{
    margin-left: 125px;
    background-color: #FAD7B1;
    padding: 10px;
    width: 855px;
    height: 580px;
    color: black;
     vertical-align :text-bottom;
    box-shadow: 5 14px 18px 0 rgba(3, 2, 2, 0.2), 0 22px 20px 0 rgba(0, 0, 0, 0.19);
}

.fb{
    margin: 10px;
    background-color: #3b5998;
    padding: 4px;
    width: 69px;
    height: 66px;
    font-size: 55px;
    color: black;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
}

.fb:hover{
    background-color: #1a3776;
}

.instagram{
    margin: 10px;
    background-color: #833ab4;
    padding: 4px;
    width: 69px;
    height: 66px;
    font-size: 55px;
    color: black;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
}

.instagram:hover{
    background-color: #611aa2;
}

.git{
     margin: 10px;
    background-color: #bd2c00;
    padding: 4px;
    width: 69px;
    height: 66px;
    font-size: 55px;
    color: black;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
}

.git:hover{
    background-color: #ab0b00;
}

.ahtml5{
    color: white;
    text-decoration: none;
}

img{
    padding:5px; 
    float:right;
    margin-right: 7px;
    border-radius:10px;   
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
}

.img{
    padding:5px; 
    float:right;
    margin-right: 7px;
    border-radius:10px;   
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
}