
.icon-user:before { content: '\e800'; } /* '' */
.icon-power-outline:before { content: '\e801'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-github-text:before { content: '\f307'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */